.profile-container {
  width: 90%; 
  max-width: 400px; 
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-icon {
  margin-bottom: 20px;
}

.profile-header {
  font-size: 24px; 
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.profile-item {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  background-color: #353535;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-label {
  font-size: 16px; 
  font-weight: bold;
  color: #fffcfc;
  margin-bottom: 5px;
}

.profile-value {
  font-size: 16px;
  color: #fffbfb;
  padding-left: 0; 
  flex-shrink: 0;
  font-weight: normal;
}

/* Media Queries */
@media (min-width: 600px) {
  .profile-item {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  .profile-label,
  .profile-value {
    font-size: 18px; 
  }
}

.back-button {
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
  background-color: #bbb;
}


@media (min-width: 768px) {
  .profile-header {
    font-size: 28px; 
  }
}

